.profile{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    color: white;
    gap: 1.6rem;
}

.profile img{
    width: 10rem;
    height: 10rem;
}

.profile_left{
    background: var(--back);
    padding: 1.5rem;
    border-radius: 10px;
    width: 48%;
    height: fit-content;
}
.profile_head{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}

.profile_head> div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile_head button{
    border: 0;
    background: var(--color);
    width: fit-content;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    
}

.profile_body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.profile_body svg{
    font-size: 2rem;
}


.profile_body> div{
    background: #1b1f22;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    padding: 1.5rem 1rem ;
    align-items: center;

}

.profile_body label{
    font-size: 0.9rem;
    
}

.prof_card h3{
    padding-top: 0.5rem;
}

.profile h2{
    display: flex;
    justify-content: space-between;
font-size: 1.8rem;
}

.profile_left> h2 span{
    font-size: 1rem;
    color: var(--color);
}

.profile_right{
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}

.profile_right form{
    background: var(--back);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px !important;
}


.profile_right .input_log div{
    background: #1b1f22;
    border-radius: 10px;
}

.profile_right .input_log input::placeholder{
    color: white;
    font-size: 0.9rem;
}
.profile_right .input_log input{
    color: white !important;
    font-size: 1rem;
}

.profile_right button{
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 1rem;
    background: var(--color);
    color: white;
    border: 0;
    font-weight: 600;
}

.adminman{
    padding: 1rem;
    background: white;
    border-radius: 10px;
    margin-right: 1rem;
}
.admin_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.card_table{
    width: 100% !important;
    overflow-x: auto;
    border: black 1px solid;
     margin-top: 2rem;
     font-family: var(--mont) !important;
}
.card_table table{
   margin-top: 0;
    overflow-x: auto;
   background: var(--blu);
    color: white;
    /* margin-top: 2rem; */
    width: 100%;
    border: none;
    border-bottom: none;
    overflow-x: auto;
}

.card_table th:not(:last-child){
    border-right:  black 1px solid ;
    text-align: left;
    padding: 1rem;

}

.card_table td:not(:last-child){
    border-right:  black 1px solid ;
    
}


.card_table td{
    margin-top: 5rem;
    text-align: left;
    border-bottom:black 1px solid;
    padding: 1rem;
    color: black;
}

.card_table th{
    border-bottom:black 1px solid;
    text-align: left;
    padding: 1rem;
    white-space: nowrap;
    padding-right: 2.5rem  !important;
}

.card_table tr{
    border-bottom:black 1px solid;
    display: table-row; 
}

.card_table p{
    width: inherit;
    padding: 1.3rem;

    border-top: none;
}
