.profile{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    color: black;
    gap: 1.6rem;
    
    margin-right: 1rem;
   
}

.profile img{
    width: 10rem;
    height: 10rem;border-radius: 50%;
}

.profile_left{
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1.5rem;
    border-radius: 10px;
    width: 48%;
    height: fit-content;
}
.profile_head{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}

.profile_head> div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.profile_head h3{
    font-weight: 500;
    font-size: 1.3rem;
}

.profile_head button{
    border: 0;
    background: var(--blu);
    width: fit-content;
    color: white;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    
}

.profile_body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.profile_body svg{
    font-size: 2rem;
}


.profile_body> div{
    color:black !important;
    padding: 1.2rem 2rem;
    background: var(--yell);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    padding: 1.5rem 2rem ;
    align-items: center;

}

.profile_body label{
    font-size: 1.2rem;
    font-weight: 600;
    
}

.prof_card h3{
    padding-top: 0.5rem;
    font-size: 1.1rem;
    
}

.profile h2{
    font-family: var(--sky) !important;
    display: flex;
    justify-content: space-between;
font-size: 2rem;
}

.profile_left> h2 span{
    font-size: 1rem;
    color: var(--color);
}

.profile_right{
   
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}

.profile_right h2{
    border-bottom: 1px solid var(--blu);
    padding-bottom: 1rem;
}

.profile_right form{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: white;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px !important;
}


.profile_right .input div{
    margin-top: 1rem;
    padding: 0.3rem !important;
}

.profile_right .input input::placeholder{
  
    font-size: 1rem;
}
.profile_right .input input{
    padding: 1rem !important;
    font-size: 1rem;
}

.profile_right button{
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 1rem;
    background: var(--yell);
    color: black;
    border: 0;
    font-weight: 600;
}

.adminman{
    margin-top: 1rem;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    margin-right: 1rem;
}
.admin_head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: #1b1f22 1px solid;

}
.admin_head h2{
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--sky) !important;
}
.admin_head a{
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--blu);
    padding: 0.8rem 1.2rem;
    border-radius: 40px;
    font-size: 1.1rem;
    color: white;

}

.admin_head p{
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--blu);
    padding: 0.8rem 1.2rem;
    border-radius: 40px;
    font-size: 1.1rem;
    color: white;

}

.p_line{
    width: 100%;
    border-bottom: 1px solid black;
}
.card_table{
    width: 100% !important;
    overflow-x: auto;
    border: black 1px solid;
    border-bottom: 0;
     margin-top: 2rem;
     font-family: var(--mont) !important;
}
.card_table table{
   margin-top: 0;
    overflow-x: auto;
    color: white;
    /* margin-top: 2rem; */
    width: 100%;
    border: none;
    border-bottom: none;
    overflow-x: auto;
    overflow-y: hidden;
}

.card_table th:not(:last-child){
    border-right:  black 1px solid ;
    text-align: left;
    padding: 1rem;

}

.card_table td:not(:last-child){
    border-right:  black 1px solid ;
    
}


.card_table td{
    width: fit-content;
    margin-top: 5rem;
    text-align:left;
    border-bottom:black 1px solid;
    padding: 0.5rem 1rem;
    color: black;
}

.card_table th{
    background: var(--blu);

    border-bottom:black 1px solid;
    text-align: left;
    padding: 1rem;
    white-space: nowrap;
    padding-right: 2rem  !important;
}

.card_table tr{
    border-bottom:black 1px solid;
    display: table-row; 
}

.card_table p{
    width: inherit;
    padding: 1.3rem;

    border-top: none;
}

.adminman form{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.create_input{
    font-size: 1.1rem;
    display: grid;
    align-items: center;
    grid-template-columns: 0.5fr 1fr;
}

.create_input input{
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #1b1f22;
}

.adminman form button{
    background: var(--blu);
    padding:  0.8rem 5rem;
    width: fit-content;border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    align-self: center;
}

.admin_head div{
    display: flex;
    align-items: center;
    gap: 1.5rem
}

.search_input{
    border: 1px solid black;
    padding: 0.2rem ;
    padding-left: 1rem;
}

.search_input span{
    background: var(--blu);padding: 0.6rem;
    color: white;
    font-size: 1.3rem;
}

.student_table img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.dot_pop{
    position: absolute;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dot_pop span{
    padding: 0.6rem 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dot_pop span:hover{
    background: #f2f3f7;
}


.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.add_member{
    z-index: 5000;
    width: fit-content;
}

.add_head{
    font-weight: 600;
    background: var(--blu);
    padding: 1.3rem 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    justify-content: space-between;
}
.add_head svg{
    font-size: 1.2rem;
}
.add_mem{
    background: white;
    padding: 1.5rem 5rem 3rem 5rem;

    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 100%;
}

.add_mem div{
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    align-items: center;


}



.add_btn{
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    background: var(--blu);
    border: none;
    color: white;
    font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 1rem;
margin-top: 1rem;
}

.modal{
    position: absolute;
    width: 100% !important;
    height: 100vh !important;
   background: transparent;
}


.stu_det{
    background: white;
    margin-top: 1rem ;
    width: 100%;
    font-family: var(--mont) !important;
}

.stu_det > h2{
    font-size: 2rem;
    font-family: var(--sky) !important;
}

.stu_det img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.stu_det .profile_head h3{
    font-size: 1.3rem;
    font-weight: 500;
}

.stu_det .profile_body> div{
    color:black !important;
    padding: 1.2rem 2rem;
    background: var(--yell);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.stu_det .profile_body div label{
    font-size: 1.2rem;
    font-family: var(--sky) !important;
    font-weight: 600;
}

.add_mem .input{
    flex-direction: column;
    align-items: flex-start;
}

.form_create{
    width: 70vw;
}


.notify{
    display: flex;
    justify-content: center;
       
    
    align-self: center;
  }
  .not{background: white;  border-radius: 7px;
    width: 100%;
    margin-right: 1rem;
    padding: 1rem;
  }
  .notify_body{
    padding-top: 1rem;
  
  }
  
  .notify_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--blu);
    padding-bottom: 1.5rem;
  }
  
  .notify_left{
    gap: 1rem;
    display: flex;
    align-items: center;
    
  }
  
  .notify_left button{
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600 !important;
    border: none;
    background: none;
    height: 3rem;
  }
  
  .view_dot{
    position: relative;
    text-align: center;
  }
  
  .drop{
    top: 0;
    z-index: 555;
    left:-20px;
    position: absolute;
    background: white;
  }
  
  .drop a{
    width:7rem;
    padding: 0.5rem  ;
    font-size: 0.8rem;
    color: black;
    border: rgb(149, 149, 149) 1px solid;
    border-radius: 7px;
    background: white;
    box-shadow: 0px 12px 30px 0px rgba(80, 143, 244, 0.1);
  
  }
  
  .mem{
    background: black;
  }
  .unread-notification > span{
    background: var(--red);
    padding: 1rem;
    color: white;
    font-size: 2rem !important;
  }
  
  .unread-notification > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 4rem;
  
  
  }
  
  .all-notification span{
    background: var(--red);
    padding: 1rem;
    color: white;
    font-size: 2rem !important;
  }
  .all-notification> div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 4rem;
  
  }
  .all-notification{
    border-radius: 15px;
  background: #f5f3f3;
  margin: 1.5rem 1rem;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  }
  .unread-notification{
    border-radius: 15px;
  margin: 1.5rem 1rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  
    
  }
  
  .notification h3{
    font-size: 1rem;
    font-weight: normal;
  }
  
  .notification h3 span{
    font-weight: 600;
  }
  .notification p{
      font-size: 14px;
  }
  
  
  .notify_left button.active{
    border-bottom: 3px solid var(--red);
  
  }
  
  .notify_left button span{
    border-radius: 7px;
    padding: 0.2rem 0.5rem;
    background: #ececec;
  
  }
  
  .notification >span{
    font-size: 1.2rem;
  }
  
  .notification .drop{
    width: fit-content;
  }
  
  
  .notify .load{
    height: fit-content;
    padding-bottom: 5rem;
    background: white;
  }
  
  


@media screen and (max-width:1200px) {
    .profile{
        flex-direction: column;
        margin-right: 0;
    }    
    .profile_right{
        width: 100%;
    }
    .profile_left{
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .col{
        flex-direction: column;
    }

    .add_member{
        margin: 3rem 2rem;
    }
}
@media screen and (max-width:550px) {
    .form_create{
        width: 90vw;
    }
    .profile_left{
        padding: 1rem;
    }
    .profile_head{
        flex-direction: column;
    }
    .profile_head div{
        align-self: start;
    }
    .profile_right form{
        padding: 2rem 1.5rem;
    }

    .profile_body> div{
        overflow-x: scroll;
        padding:0.5rem 2rem;
    }
    .admin_head{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .create_input{
        display: flex;
        align-items:    flex-start;
        flex-direction: column !important;
        gap: 0.6rem;
    }
    .create_input input{
        width: 100%;
    }
    .admin_head > div{
        flex-direction: column-reverse;
        align-items: flex-start;
       
    }

    .add_mem{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


@media screen and (max-width:450px) {
    .search_input{
        width: 100%;
    }
    .search_input input{
        width: 100%;
    }
}